table .input-group a {
    border-radius: 50% !important;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

table .btn-danger {
    color: #c73333;
    background-color: #efd5d8;
    border-color: #fde2e5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.filter_table label {
    margin-bottom: 0;
}